<div class="tool_info">
  <h1><%= @tool.name %></h1>
  <h3><%= @tool.category.name %></h3>
  <ul>
    <li>Price: <%= @tool.price %></li>
    <li>Quantity: <%= @tool.quantity %></li>
  </ul>
</div>
<%= link_to "Delete", tool_path, method: :delete %><br />
<!-- <%= link_to "Edit", edit_tool_path %><br /> -->
<%= link_to "All Tools", tools_path %>
